@use 'spaces';

:host {
  display: flex;
  flex-direction: column;
  gap: spaces.$padding-medium;
  overflow: hidden;

  .scroll-container {
    display: grid;
    overflow-x: scroll;
    scroll-padding: spaces.$padding-medium;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    .items-container {
      align-items: stretch;
      display: flex;
      gap: spaces.$padding-medium;
      margin: 0;
      padding: 0 spaces.$padding-medium;
      width: fit-content;
    }
  }

  .actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 spaces.$padding-medium;
    gap: spaces.$padding-small;
  }
}
