@use 'colors';
@use 'fonts';
@use 'borders';
@use 'spaces';

// TODO add pr-icon-button class
button.pr-icon-button {
  border-radius: borders.$radius-circle;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;

  i {
    font-size: 1.5rem;
  }
}

button.pr-button {
  border-radius: borders.$radius-default;
  border: none;
  padding: spaces.$padding-small spaces.$padding-large;
  background-color: colors.$teal;
  cursor: pointer;
  font: fonts.$button;

  &:hover {
    background-color: colors.$teal-hover;
  }

  &:active {
    background-color: colors.$teal-active;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: black solid 2px;
  }
}
