@use 'colors';
@use 'fonts';
@use 'borders';
@use 'spaces';

button.pr-icon-button {
  border-radius: borders.$radius-circle;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  cursor: pointer;
  background-color: colors.$grey;

  fa-icon {
    color: colors.$dark-grey;
  }

  &:hover {
    background-color: colors.$grey-hover;
  }

  &:active {
    background-color: colors.$grey-active;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: black solid 2px;
  }
}

button, a {
  &.pr-button {
    border-radius: borders.$radius-default;
    border: none;
    padding: spaces.$padding-small spaces.$padding-large;
    background-color: colors.$teal;
    cursor: pointer;
    font: fonts.$button;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: colors.$teal-hover;
    }

    &:active {
      background-color: colors.$teal-active;
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: black solid 2px;
    }
  }
}
