@use 'borders';
@use 'colors';
@use 'fonts';
@use 'spaces';

:host {
  border-radius: borders.$radius-large;
  height: 400px; // TODO ensure this is ok
  width: 240px; // TODO ensure this is ok
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .internal-padding {
    padding: 1.5rem; // TODO token for paddings
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  img {
    object-fit: cover;
  }

  &.half-size {
    height: 100px;
  }

  &.teal {
    background-color: colors.$teal;
  }

  &.liliac {
    background-color: colors.$liliac;
  }

}

// Large screens
@media (min-width: spaces.$desktop-bp) {
  :host {
    height: 500px;
    width: 300px;
  }
}
