@use 'borders';
@use 'colors';
@use 'sizes';
@use 'spaces';

:host {
  border-radius: borders.$radius-default;
  height: sizes.$card-height-mobile;
  width: sizes.$card-width-mobile;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .internal-padding {
    padding: spaces.$padding-large;
    display: flex;
    flex-direction: column;
    gap: spaces.$padding-small;
  }

  img {
    object-fit: cover;
  }

  &.teal {
    background-color: colors.$teal;
  }

  &.lilac {
    background-color: colors.$lilac;
  }

}

// Large screens
@media (min-width: spaces.$desktop-bp) {
  :host {
    height: sizes.$card-height-desktop;
    width: sizes.$card-width-desktop;
  }
}
