@use 'borders';
@use 'colors';
@use 'sizes';
@use 'spaces';

:host {
  position: relative;

  border-radius: borders.$radius-default;
  height: sizes.$card-height-mobile;
  width: sizes.$card-width-mobile;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: default;

  .internal-padding {
    position: absolute;

    overflow-wrap: break-word;
    padding: spaces.$padding-large;
    display: flex;
    flex-direction: column;
    gap: spaces.$padding-small;
  }

  img {
    object-fit: cover;
    border-radius: 0 borders.$radius-default borders.$radius-default;
  }

  &.green {
    background-color: colors.$green;
  }

  &.mint {
    background-color: colors.$mint;
  }

  &.skyblue {
    background-color: colors.$skyblue;
  }

  &.azure {
    background-color: colors.$azure;
  }

  &.lilac {
    background-color: colors.$lilac;
  }

  &.purple {
    background-color: colors.$purple;
  }

  &.pink {
    background-color: colors.$pink;
  }

  &.hotpink {
    background-color: colors.$hotpink;
  }

}

// Large screens
@media (min-width: spaces.$desktop-bp) {
  :host {
    height: sizes.$card-height-desktop;
    width: sizes.$card-width-desktop;
  }
}
