@use 'sass:color';

$bg: #f1f1ef;

$wine: #a32234;
$wine-hover: color.adjust($wine, $lightness: 5%);
$wine-active: color.adjust($wine, $lightness: -5%);
$cherry: #770316;

$grey: #e8e8ed;
$grey-hover: color.adjust($grey, $lightness: -2%);
$grey-active: color.adjust($grey, $lightness: -5%);
$grey-disabled: color.adjust($grey, $lightness: 2%);

$medium-grey: #d1d1d1;
$icon: #3a3a3a;
$icon-disabled: color.adjust($icon, $lightness: 40%);
$outline: #171717;
