@use 'sass:color';

$bg: #f1f1ef;

$teal: #6ae2ce;
$teal-hover: color.scale($teal, $lightness: 5%);
$teal-active: color.adjust($teal, $lightness: -5%);

$green: #b6fbb3;
$mint: #8cf8d2;
$skyblue: #8cedf8;
$azure: #8cc0f8;
$lilac: #8c97f8;
$purple: #b08cf8;
$pink: #ecb0ff;
$hotpink: #eb8cf8;
$denim: #285aa2;

$grey: #e8e8ed;
$grey-hover: color.adjust($grey, $lightness: -2%);
$grey-active: color.adjust($grey, $lightness: -5%);

$medium-grey: #b0b0b0;
$dark-grey: #55524b;
$outline: #171717;

$green-gradient: linear-gradient(180deg, #2aa747, #2f8eee);
$blue-gradient: linear-gradient(180deg, #1529C2, #3599b7);
