$card-title-mobile: bold 4rem/1 'Inter', sans-serif;
$card-subtitle-mobile: bold .85rem/1 'Inter', sans-serif;
$card-title-desktop: bold 3.125rem/1 'Inter', sans-serif;
$card-subtitle-desktop: bold .85rem/1 'Inter', sans-serif;

$button: bold 16px/1 'Inter', sans-serif;

$body-mobile: normal 16px/1 'Inter', sans-serif;
$body-desktop: normal 20px/1 'Inter', sans-serif;
$body-small-mobile: normal 15px/1 'Inter', sans-serif;
$body-small-desktop: normal 17px/1 'Inter', sans-serif;
$body-small-bold-mobile: bold 14px/1 'Inter', sans-serif;
$body-small-bold-desktop: bold 16px/1 'Inter', sans-serif;

$heading-mobile: bold 1.5rem/1 'Inter', sans-serif;
$subheading-mobile: bold 1.125rem/1 'Inter', sans-serif;
$heading-desktop: bold 2rem/1 'Inter', sans-serif;
$subheading-desktop: bold 1.5rem/1 'Inter', sans-serif;
