$body-default: normal 16px/1 'Inter', sans-serif;
$body-default-bold: bold 16px/1 'Inter', sans-serif;

$body-small-bold: bold 14px/1 'Inter', sans-serif;

$heading-medium: bold 3rem/1 'Inter', sans-serif;

$button: bold 14px/1 'Inter', sans-serif;
