$card-height-mobile: 500px;
$card-height-desktop: 600px;
$card-caption-height-mobile: 250px;
$card-caption-height-desktop: 300px;
$card-width-mobile: 275px;
$card-width-desktop: 330px;

$video-height-mobile: 480px;
$video-height-desktop: 600px;
