$padding-xsmall: .25rem;
$padding-small: .5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;
$padding-xlarge: 2rem;
$padding-xxlarge: 3rem;

$desktop-bp: 768px;

$gap-small: .5rem;
$gap-medium: 1rem;
$gap-large: 1.5rem;
