@use 'borders';
@use 'colors';
@use 'fonts';
@use 'sizes';
@use 'spaces';

:host {
  display: flex;
  flex-direction: column;
  gap: spaces.$gap-large;

  .report {
    &__section {
      display: flex;
      flex-direction: column;
      gap: spaces.$gap-large;
      padding: spaces.$padding-medium spaces.$padding-large;

      &--gallery {
        padding: 0;

        .report__heading {
          padding: 0 spaces.$padding-large;
        }
      }

      &--intro {
        .report__heading--main {
          padding-left: spaces.$padding-xlarge;
        }
      }
    }

    &__heading {
      &--main {
        padding-left: spaces.$padding-xlarge;
      }
    }

    &__buzzword {
      color: colors.$wine;
    }

    p {
      margin-top: spaces.$padding-small;
    }

    &__collage {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      img {
        border-radius: borders.$radius-default;
      }
    }

    &__centered {
      display: flex;
      align-items: center;
      justify-content: center;

      &:has(sr-footer) {
        padding-top: spaces.$padding-xlarge;
      }
    }

    sr-video {
      margin-top: spaces.$padding-medium;
    }
  }
}

// Large screens
@media (min-width: sizes.$desktop-bp) {
  :host {
    .report {
      &__section {
        padding: spaces.$padding-xlarge spaces.$padding-xxlarge;

        &--gallery {
          padding: 0;

          .report__heading {
            padding-left: spaces.$padding-xxlarge;
          }
        }
      }

      &__heading {
        &--main {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          padding: 0 spaces.$padding-small;
        }
      }
    }
  }
}
