@use 'colors';
@use 'fonts';
@use 'spaces';

:host {
  display: flex;
  flex-direction: column;
  gap: spaces.$padding-large;

  section {
    display: flex;
    flex-direction: column;
    gap: spaces.$padding-large;
    padding: spaces.$padding-large;

    .heading {

      &.main {
        padding-left: spaces.$padding-xlarge;
      }

      .title-row {
        display: flex;
        align-items: center;
        gap: spaces.$padding-small;

        fa-icon {
          color: colors.$denim;
        }
      }
    }

    &.carousel-section {
      padding: 0;

      .heading {
        padding: 0 spaces.$padding-large;
      }
    }

    .gradient {
      color: transparent;
      background-clip: text;

      &.company-name {
        background-image: colors.$green-gradient;
      }

      &.buzzword {
        background-image: colors.$blue-gradient;
      }
    }

    p {
      margin-top: spaces.$padding-small;
    }
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  sr-video {
    margin-top: spaces.$padding-medium;
  }
}

// Large screens
@media (min-width: spaces.$desktop-bp) {
  :host {
    section {
      padding: spaces.$padding-xlarge spaces.$padding-xxlarge;

      .heading {
        &.main {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          gap: spaces.$padding-xxlarge;
          padding: 0 spaces.$padding-small;
        }
      }

      &.carousel-section {
        .heading {
          padding-left: spaces.$padding-xxlarge;
        }
      }
    }
  }
}
