<video
  #videoRef
  (click)="toggleVideo()"
  (keydown.enter)="toggleVideo()"
  (keydown.space)="toggleVideo()"
  [src]="src()"
  [attr.aria-label]="'Aria.Video' | translate"
  autoplay
  muted
  loop
  type="video/mp4"
  playsInline
  tabindex="0"
></video>

<button
  [attr.aria-label]="isPlaying() ? 'Aria.Pause' : 'Aria.Play' | translate"
  [attr.aria-pressed]="isPlaying() ? 'true' : 'false'"
  class="pr-icon-button"
  type="button"
  (click)="toggleVideo()"
>
  <span class="material-icons">{{ toggleIcon() }}</span>
</button>
