@use 'styles/button';
@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/spaces';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  font: fonts.$body-mobile;
  background-color: colors.$bg;
  height: 100%;
  margin: 0;
}

h1 {
  font: fonts.$heading-mobile;
  margin: 0;
  padding: spaces.$padding-small 0;
}

h2 {
  font: fonts.$subheading-mobile;
  margin: 0;
}

// Large screens
@media (min-width: spaces.$desktop-bp) {
  html, body {
    font: fonts.$body-desktop;
  }

  h1 {
    font: fonts.$heading-desktop;
    padding: 0;
  }

  h2 {
    font: fonts.$subheading-desktop;
  }
}
